{% include 'header.html' %}
{% with messages = get_flashed_messages() %}

{% if messages%}
<br>
<div class="alert alert-danger" role="alert">
{% for message in messages %}
{{ message }}
{%endfor%}
</div>
{% endif %}
{% endwith %}

<br> 
<form method="post" action="/storecomp" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
             Ingresar Competencia
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de la competencia</h5>
            <p class="card-text">
    
             <div class="form-group">
                <label for="txtDescripcion">Descripcion</label>
                <input id="txtDescripcion" class="form-control" type="text" name="txtDescripcion">
             </div>
            
             <div class="form-group">
                <label for="txtEstado">Estado</label>
                <select class="form-control" id="txtEstado" name="txtEstado">
                    <option>Activo</option>
                    <option>Inactivo</option>
                  </select>
             </div>
                
             <div class="form-group">
                <input type="submit" class="btn btn-success" value="Agregar">
                <a href="{{url_for('indexcomp')}}" class="btn btn-primary">Regresar</a>
             </div>


            </p>
        </div>
    </div>
    
</form>
{% include 'footer.html' %} 